*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.jks
*.keystore
app/secret/client_secret_204869979080-qtm91dkf3v53ll5086u22jcdma4i05g8.apps.googleusercontent.com.json
app/secret/client_secret_204869979080-qvojotrvfhhhamourktfcchki2e97and.apps.googleusercontent.com.json
